body{

}
header {
  

}

header h1 {
    font-size: 40px;
    margin-top: 25px;
}
header nav{
    padding: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Times New Roman', Times, serif;
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display:inline-block;
    justify-content: space-around;

}

h2 {
    font-size: 30px;
}

img{
    border: 5px solid teal;
}
.banner {
    height: 150px;
    margin-bottom: 25px;
    margin-top: 50px;
    background-image: url("/Users/garrettmarshall/Desktop/02-HW-Portfolio/IMG/banner.png");
    background-size: cover;
    background-position: center;
}
.banner h2{
    position: absolute;
    top: 200px;
    right: 5%;
    font-size: 25px;
    color:crimson;
    background-color: teal;
    padding: 10px;
}

.container {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 90%;
    margin: 50px auto;
    
}
.container-about {
    flex:auto;
    padding: 20px;
}

.titles {
    flex: auto;
    border-right: 3px solid navy;
    max-width: 10%;
    padding-right: 15px;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:50%;
}
.container-block{
    position: relative;
}

.text-block {
    position: absolute;
    bottom:250px;
    left:150px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
   
}


.contact {
    margin-top: 25px;
    
    color: navy;
}


.info-row{
    display: flex;
    flex-flow:row wrap;
    align-items:center;
    justify-content: space-evenly;
    list-style-type: none;
}
.info-row li{
    text-align: right;
    flex: 1 1 auto;
    padding: 15px;
}

.row{
    display: flex;
    flex-flow: row wrap;
}

.column{
    
    
}

.content{
    background-color: white;
    padding:10px;
}

#myImg {
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover{
    opacity:0.7;
}

@media screen and (max-width: 900px) {
    .column {
        width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}
