
/*header section */
header h1 {
    font-size: 40px;
    margin-top: 25px;
}
/* changes font at the header and floats the info to the right*/
header nav{
    padding: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Times New Roman', Times, serif;
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display:inline-block;
    justify-content: space-around;

}

h2 {
    font-size: 30px;
}
/*adds border to all images*/
img{
    border: 5px solid teal;
}
/* specs of how avatar picture was made in header*/
.avatar{
    vertical-align: middle;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
/* this is image of banner and its size/positioning on the page*/
.banner {
    height: 150px;
    margin-bottom: 25px;
    margin-top: 50px;
    background-image: url("../IMG/banner.png");
    background-size: cover;
    background-position: center;
}
/*text box on banner*/
.banner h2{
    position: absolute;
    top: 250px;
    right: 5%;
    font-size: 25px;
    color:teal;
    background-color: white;
    padding: 10px;
}
/*main section*/
.container {
    display:flex;
    flex-direction: row;
    justify-content: center;
    width: 90%;
    margin: 50px auto;
    
}
.container-about {
    flex:auto;
    padding: 20px;
}

.titles {
    flex: auto;
    border-right: 3px solid navy;
    max-width: 10%;
    padding-right: 15px;
}

/*centers surfing image*/
.center{
    display: inline;
    margin-left: 25px;
    margin-right: auto;
    width:50%;
   
}
.container-block{
    position: relative;
}

.contact {
    margin-top: 25px;
    
    color: navy;
}

/* flex box for all contact info*/
.info-row{
    display: flex;
    flex-flow:row wrap;
    align-items:center;
    justify-content: space-evenly;
    list-style-type: none;
}
.info-row li{
    text-align: right;
    flex: 1 1 auto;
    padding: 15px;
}

.column{

    justify-content: center;
    
}
.content{
    position: center;
    display: flex;
    margin: 1%;
    margin-right: 15%;
    flex: row wrap;
    padding: 2%;
    padding:10px;
}

.spacing {
  padding-left:25px;
}

/*changes cursor when over image*/
#myImg {
    cursor: pointer;
    transition: 0.3s;
}
/*change opacity when cursor hovers over image*/
#myImg:hover{
    opacity:0.7;
}
/*color for computer screens*/
@media screen and (max-width: 900px) {
    main {
        background-color: white;
    }
}
/* change back ground color for mobile phones*/
@media screen and (max-width: 600px) {
    main {
        background-color: lightcoral;
        margin: 1em 2em;
    }
}
