body{
background-color: rgb(247, 247, 247);
}
header {
    background-color: olive;

}

header h1 {
    font-size: 40px;
    margin-top: 25px;
}
header nav{
    padding: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Times New Roman', Times, serif;
    justify-content: space-around;
    
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display:inline-block;
    justify-content: space-around;

}

section {
    margin-left: 150px;

}
h2 {
    font-size: 35px;
}
.banner {
    height: 150px;
    margin-bottom: 25px;
    margin-top: 50px;
    background-image: url("/Users/garrettmarshall/Desktop/02-HW-Portfolio/IMG/banner.png");
    background-size: cover;
    background-position: center;
}

.about {
    margin-top: 25px;
    margin-bottom: 200px;
    color: navy;
    
}

.titles {
    flex: auto;
    border-right: 5px solid navy;
    max-width: 20%;
}

.work {
    margin-top: 25px;
    margin-bottom: 200px;
    color: navy;
}

.contact {
    margin-top: 25px;
    margin-bottom: 200px;
    color: navy;
}

.info{
    float: right;
    display: inline-block;
    
}
